<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Giỏ hàng | Apple Store</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <!-- Custom CSS : topbar -->
    <link rel="stylesheet" href="~/2024_BTLWeb_Group1/Nguyen_Duy_Kien_232631018/style/styleheader.css">  <!-- CSS cho header -->
    <!-- Custom CSS -->

    <link rel="stylesheet" href="~/css/Cart/style.css" />
    @RenderSection("Scripts", required: false)

</head>
<body>
    @if (ViewData["HideTopbar"] == null || !(bool)ViewData["HideTopbar"])
    {
        @await Html.PartialAsync("~/Areas/ViewHome/Views/Shared/TopBar.cshtml")
    }

    <!-- Header -->

    <!-- Thông báo -->
    <div class="container mt-3">
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success text-center">@TempData["Success"]</div>
        }
        else if (TempData["Error"] != null)
        {
            <div class="alert alert-danger text-center">@TempData["Error"]</div>
        }
    </div>

    <!-- Nội dung chính -->
    <main>
        @RenderBody()
    </main>

    <!-- Footer -->
    <footer>
        <small>&copy; 2025 Apple Store | Designed by Nguyễn Minh Chiến</small>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/2024_BTLWeb_Group1/Nguyen_Duy_Kien_232631018/script/JSheader.js"></script> <!--JS cho header-->


</body>
</html>
